@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

/* Fonts */
@font-face {
  font-family: New;
  src: url(NeueMachina-Light.ttf);
}

@font-face {
  font-family: trap;
  src: url("Trap-Light.otf");
}

@font-face {
  font-family: Neu;
  src: url(NeueHaasDisplayThin.ttf);
}

@font-face {
  font-family: Neutral;
  src: url(NeutralFace.otf);
}

@font-face {
  font-family: Hatton;
  src: url(PP\ Hatton\ Ultralight\ 200.otf);
}

/* Animation */
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Scroll Behaviour */
* {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
  font-family: New;
  background-color: #0F0F0F;
  overflow-x: hidden;
  scrollbar-width: 10px;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(44, 32, 75);
  border-radius: 10px;
}

.bg-gradient-to-b {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.bg-gradient-to-b::-webkit-scrollbar {
  display: none;
}

*/ .on-mobile {
  color: white;
  z-index: 1000;
}

/* Background class bg */
.bg {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* Changed to fixed for a full-page background */
  width: 100%;
  height: 100vh;
}

iframe {
  width: 140%;
  /* Ensures the iframe covers the width of the parent */

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
}


/* Nav Cl */
nav,
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 2vw;
  font-family: Neu;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: none;
  height: 80px;
  row-gap: 20px;
  padding: 0 20px;
  align-items: center;
  font-family: Neu;
  overflow: hidden;
}

.menu-bar {
  display: none;
}

.nav-links {
  gap: 5rem;
  font-weight: 100;
  list-style: none;
  color: white;
  font-size: 2vw;
  margin: 0;
  display: table-row;
  position: absolute;
  top: 5%;
  left: 83%;
  font-weight: 400;
}

.nav-links p {
  margin: 10px;
  display: inline-block;
  color: white;
  opacity: 0.7;
  transition: all ease 0.5s;
}

.nav-links p span {
  display: inline-block;
  opacity: 0;
  transform: translateY(30px);
}


.nav-links p:hover {
  color: rgb(0, 0, 0);
  transition: all ease 0.5s;

}

a {
  color: rgba(255, 255, 255, 0.222);
  text-decoration: none;
  position: relative;
}

.nav-a:hover {
  color: white;
}

#main-main {
  height: fit-content;
  width: 100%;

}

/* Profile */
#profile {
  width: fit-content;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 110px;

  height: 80vh;
  font-family: Neu;
}

#designation {
  font-size: 5vw;
  padding: 0 20px;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(19px);
  font-family: Neu;
}

#designation span {
  display: inline-block;
}

#designation .image-2 {
  width: 100px;
  /* Width of the span container */
  height: 70px;
  /* Height of the span container */
  display: inline-block;
  /* Ensures the span behaves like a block element */
  position: relative;
  /* For any future positioning inside */
  overflow: hidden;
  /* Ensures the image does not overflow the container */
  border-radius: 50px;
  /* Adjust the radius as needed */
  filter: sepia();
}

#designation .image-2 img {
  width: 100%;
  /* Ensures the image fills the width of the container */
  height: 100%;
  /* Ensures the image fills the height of the container */
  object-fit: cover;
  /* Ensures the image covers the container without distortion */
  border-radius: inherit;
  /* Ensures the image inherits the border-radius of the container */
}

#designation span:hover {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-stroke: 1px #ffffff;
  /* transform:scale(1.1) */

}

.center-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.975);
  width: fit-content;
  position: absolute;
}

.text-main-1 {
  align-items: center;
  line-height: 100px;
  display: flex;
  position: absolute;
  color: rgb(250, 250, 250);
  font-size: 1.5vw;
  top: 100%;
  letter-spacing: 1px;
  left: 1.5%;
  width: 27%;
  border-radius: 60px;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.098);
  line-height: 20px;
  font-weight: 100;
  font-family: Hatton;
}


#Name-text {
  font-size: 4vw;
  font-family: trap;
  position: absolute;
  left: 82%;
  letter-spacing: 3px;
  top: 140%;
  text-align: right;
  color: rgba(255, 255, 255, 0.075);
  width: max-content;
}



#Name-text span {
  font-size: 2vw;
  letter-spacing: 1px;
}

#Intro i {
  position: absolute;
  right: 100%;
  font-size: 10vw;
  top: 100%;
  -webkit-text-stroke: 1px #ffffff5e;
  color: transparent;
  top: 0%;
  transition: all ease 0.5s;
}

.slogan {
  position: absolute;
  left: 40%;
  font-size: 1.5vw;
  letter-spacing: 2px;
  color: #ffffff79;

  font-family: Hatton;
}

#Name-text i:hover {
  color: white;
  transform: scale(1.3)
}



.main,
.designation-main {
  display: flex;
  flex-direction: column;
}


#Intro {
  position: absolute;
  left: 123%;
  color: rgb(0, 0, 0);
  font-weight: 100;
  top: 143%;
  font-size: 2vw;
  font-family: Hatton;
  width: 60%;
  font-style: italic;
}

#Intro p {
  display: inline-block;
  height: fit-content;
  border-bottom: 1px solid black;
}

#Intro p span {
  display: inline-block;
  opacity: 0;
  transform: translateY(30px);
}


#about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2vw;
  padding: 100px 60px;
  column-gap: 20px;
  font-family: trap;
  text-transform: uppercase;
  overflow: hidden;

}

.cursor {
  height: 10px;
  width: 10px;
  padding: 0;
  background-color: rgba(227, 72, 255, 0.244);
  border-radius: 50%;
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: background-image 0.3s ease, width 0.3s ease, height 0.3s ease;
  pointer-events: none;
}

.about-pagetxt1 {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  z-index: 1;
}

.about-pagetxt1 p {
  display: inline-block;
  font-size: 2.5vw;
  width: 100%;

  line-height: 50px;
  font-weight: 100;
}

.about-title-content p {
  display: inline-block;
}

.about-title-content p span {
  display: inline-block;
  opacity: 0;
  transform: translateY(30px);
}

.about-pagetxt1 h3 {
  font-size: 7vw;
  display: inline-block;
  margin: 0%;

  height: fit-content;

  overflow: hidden;
}

.about-pagetxt1 h3 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(30px);
}

.about-title {
  border-bottom: 1px solid rgb(255, 255, 255);
  overflow: hidden;

}

.about-pagetxt2 {
  display: flex;
  text-align: left;
  font-size: 5vw;
  font-weight: 100;
  opacity: 0.1;

}

.about-pagetxt2 h4 {
  line-height: 0px;
  position: absolute;
  top: 10%;
  left: 40%;
  color: #0e0010;
  font-size: 2vw;
  display: inline-block;
}

.about-pagetxt2 img {
  height: 500px;
}

.about-pagetxt2 i {
  color: transparent;
  position: absolute;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  transition: transform 0.3s ease, color 0.3s ease;
}

.about-pagetxt2 i:hover {
  color: rgb(0, 0, 0);
  transform: rotate(90deg);
}

.about-pagetxt3 {
  display: flex;
  flex-direction: column;
  font-size: 2vw;
  row-gap: 30px;
}

.collaborate-button {
  font-size: 1vw;
  height: 80px;
  align-items: center;
  align-content: center;
  padding: 0px 20px;
  display: flex;
  border-top: 1px solid #000;
  cursor: pointer;
  overflow: hidden;
  width: 40%;

}

.collaborate-button p {
  display: inline-block;
  font-family: Hatton;
  line-height: 100px;

  font-size: 2vw;
  font-style: italic;
  color: #000000;
  transform: translateX(-30%);
  transition: all ease 0.7s;
}

.collaborate-button:hover {

  transition: all ease 0.5s;
}

.collaborate-button h5 {
  font-size: 1vw;
  transform: translateX(-250%);
  transition: all ease 1s;
}

.collaborate-button:hover h5 {
  transform: translateX(100%);
  color: black;

}

.collaborate-button:hover p {
  transform: translateX(180%);
  transition: all ease 0.7s;

}

.animate {
  opacity: 0.1;
  transition: opacity 0.5s ease;
}

.animate.visible {
  opacity: 1;
}

.in-view {
  opacity: 1;
  transform: translateY(0);
}

.follow-nav {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.follow-nav p {
  font-family: trap;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.415);
  padding: 20px;
  text-transform: uppercase;
  font-size: 3vw;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  transition: all ease 0.5s;
}

.follow-nav img {
  height: 150px;
  position: absolute;
  top: 15%;
  left: 60%;
  opacity: 0;
  transition: all ease 0.5s;
}


.follow-nav p:hover {

  transition: all ease 0.5s;
}

.follow-nav ul:hover img {
  opacity: 1;
  transition: all ease 0.5s;
}

@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  50.1%,
  100% {
    opacity: 0;
  }
}

/* Expertise */
#expertise {
  padding: 100px 50px;
}

.expertise-title {
  font-family: Neutral;
  font-size: 6vw;
  margin: 0;
  text-align: right;
  border-bottom: 1px solid white;
  overflow: hidden;
}

.expertise-title h3 {
  display: inline-block;
  text-align: right;
  margin: 0;
}

.expertise-title h3 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(30px);
}

.expertise-boxes {
  display: flex;
  column-gap: 20px;
  font-family: trap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10%;
}

.expertise-1,
.expertise-2 {
  background-color: rgb(33, 33, 33);
  height: 60vh;
  width: 80%;
  align-content: center;
  padding: 20px 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.expertise-1 i,
.expertise-2 i {
  font-size: 6vw;
}

.expertise-text {
  font-size: 1.5vw;
  font-family: New;
  font-weight: 100;


}

.languages {

  display: flex;
  flex-direction: column;
  padding:50px 0;
  font-family: trap;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: uppercase;
}
.language-pairs-1{
  display: flex; justify-content:space-evenly; padding: 0 60px;
}
.language-pairs-2{
  display: flex; justify-content:space-evenly; padding: 0 60px;
}

.language-1,
.language-2,
.language-3,
.language-4 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  background-color: #f9f7f434;
  margin: 10px;
  transition: all ease 0.5s;

}

.language-1:hover,
.language-2:hover,
.language-3:hover,
.language-4:hover {

  background-color: #f9f7f4e1;
  color: #000;
  transition: all ease 0.5s;


}

/* 
.language-1 img,
.language-2 img,
.language-3 img,
.language-4 img {
  height: 600px;
  transition: transform 0.3s ease;
  filter: invert(100%);
  filter: grayscale();
  transition: all ease 0.3s;
} */
.languages img:hover {
  filter: none;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}



#language-text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  width: 70%;
  padding: 30px;
  align-content: center;
  transition: all ease 0.1s;
}

#language-text p {
  font-size: 1.5vw;
  height: fit-content;
  margin: 0;
}

#language-text h4 {
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: Hatton;
  font-size: 2vw;
}

.svg-container {
  height: fit-content;
  display: inline-block;
  transition: transform 0.3s ease;
  overflow: hidden;
  border-radius: 60px;
  align-self: center;
}





#experience {
  color: rgb(255, 255, 255);
  font-family: New;
  /* height: 150vh; */
  padding: 150px 60px;

  /* background-color: #f2e0fc; */
}

.experience-title {
  font-size: 6vw;
  text-align: left;
  margin: 0;
  border-bottom: 1px solid white;
  font-family: Neutral;
}

.experience-title h3 {
  display: inline-block;
  margin: 0;
}

.experience-title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(30px);
}


.experience-main {
  display: flex;
  flex-direction: column;
  font-size: 1.8vw;
  padding: 40px 60px;
}

#experience-box {
  height: 200px;
  align-items: center;
  font-family: trap;
  text-transform: uppercase;
  padding: 20px 10px;
  display: flex;
  column-gap: 150px;
  align-content: center;
  transition: all ease 0.5s;
  justify-content: space-between;
}

#experience-box h3 {
  margin: 0;
  font-size: 3vw;
}

#experience-box p {
  font-size: 2vw;
  width: 40%;
  font-family: Hatton;
  font-style: italic;
  color: #000;
  margin: 0;

}

#experience-box i {
  font-size: 4vw;
  transition: all ease-in-out 0.6s;
}

#experience-box:hover i {
  rotate: 90deg;
  color: #000;

}

#experience-box span {
  font-size: 1.5vw;
  opacity: 0;
  font-family: Hatton;
  font-style: italic;
  border-top: 1px solid black;
  padding: 10px 0;
  color: #000;
}

#experience-box:hover span {
  opacity: 1;
}

i {
  transition: all ease 0.5;
}

#experience-box:hover {

  height: 250px;
  font-size: 2vw;
  color: rgb(255, 255, 255);
  box-shadow: #2a1454;
}

#contact {
  font-size: 4vw;
  font-family: Hatton;
  color: rgb(4, 4, 4);
  padding: 100px;
  position: relative;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.518);
}

input[type=email] {
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}


.input {
  font-size: 2vw;
  background-color: none;
}

.contact-header-1 p {
  margin: 0;
  font-size: 3vw;
  font-family: Hatton;
  text-transform: uppercase;
  font-style: italic;
}

#contact h5 {
  margin: 0;
  font-size: 3vw;
  color: white;
  font-family: trap;

  text-transform: uppercase;

}

.contactimg {
  overflow: hidden;
}

.contactimg img {
  height: 400px;
  background-color: white;
  position: absolute;
  left: -32%;
}

.white-overlay {
  position: absolute;
  height: 400px;
  background-color: white;
  z-index: 1;
}

.contact-block {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 40px 0;
}


#move {

  display: flex;
  padding: 3vw 0;
  color: white;
  overflow: hidden;
}

#scroll {
  height: fit-content;
  width: 100%;
}

#marque {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 3vw;
  padding: 0 1.5vw;
  transform: translateX(-160%);
}

#marque p {

  font-size: 5vw;
  font-family: Hatton;

}

#marque .img {
  height: 4vw;
  -webkit-filter: invert(100%);
  /* Safari/Chrome */
  filter: invert(100%);
}

#contact {
  display: flex;
  flex-direction: column;
}

.contact-title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-family: Neutral;
  color: white;
  border-bottom: 1px solid white;
  overflow: hidden;
}

.contact-title h3 {
  display: inline-block;
  font-size: 6vw;
  text-align: right;
  margin: 0;

}

.contact-title h3 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(30px);

}

.contact-header {
  display: flex;
  flex-direction: column;
  column-gap: 250px;

}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 0px 0;
  font-family: trap;
}

.contact-socials {
  position: absolute;
  top: 90%;

}


.contact-icons {
  display: flex;
  position: absolute;
  column-gap: 20px;
  font-size: 2vw;
  border-top: 1px solid black;
  padding: 20px 0;

}

.contact-socials-title {
  font-family: Hatton;
  font-style: italic;
  column-gap: 20px;
  font-size: 3vw;
  text-transform: uppercase;
}


.contact-icons a {
  color: #ffffff;

}

.contact-icons i {
  background-color: rgba(255, 255, 255, 0.128);
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}

.contact-header-2 {
  display: flex;
  flex-direction: column;
  font-family: Neutral;
  row-gap: 50px;
}

form {
  background-color: #ffffff1d;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: flex-end;
  width: 40%;
  padding: 30px 20px;
}

.form-group {
  position: relative;
  margin-bottom: 60px;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.form-group label {
  position: absolute;
  left: 10px;
  top: 12px;
  width: 100%;
  background-color: transparent;
  padding: 0 5px;
  color: #fffdfd;
  font-size: 1.5vw;
  pointer-events: none;
  transform: translateY(5px);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group input {
  width: 100%;
  padding: 24px 15px;
  font-size: 1vw;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(248, 248, 248);
  transition: border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group textarea {
  width: 100%;
  padding: 24px 15px;
  font-size: 1vw;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(248, 248, 248);
  transition: border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group input:focus,
.form-group input:valid,
.form-group textarea:focus,
.form-group textarea:valid {
  outline: none;
}

.form-group input:focus+label,
.form-group input:valid+label,
.form-group textarea:focus+label,
.form-group textarea:valid+label {
  transform: translateY(-20px);
  font-size: 1vw;
  color: #ffffff;
}


#submit-btn {
  font-size: 1vw;
  height: 80px;
  align-items: center;
  align-content: center;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  border: none;
  border-bottom: 1px solid #000;
  cursor: pointer;
  background-color: transparent;
  overflow: hidden;
  width: 80%;

}

#submit-btn p {
  display: inline-block;
  font-family: Hatton;
  line-height: 100px;
  font-size: 2vw;
  font-style: italic;
  color: #000000;
  transform: translateX(-30%);
  transition: all ease 0.7s;
}

#submit-btn:hover {

  transition: all ease 0.5s;
}

#submit-btn h5 {
  font-size: 1vw;
  color: black;
  transform: translateX(-250%);
  transition: all ease 1s;
}

#submit-btn:hover h5 {
  transform: translateX(100%);
  color: black;

}

#submit-btn:hover p {
  transform: translateX(180%);
  transition: all ease 0.7s;

}


#contact email {
  color: #000;
}




#submit-btn:hover::after {
  width: 100%;
}

textarea {
  height: 100px;
  padding: 15px 10px;
  /* Adjusted to match input */
  box-sizing: border-box;
  font-family: trap;
  resize: none;
}



#footer {
  height: fit-content;
  padding: 100px;
  display: flex;
  justify-content: center;
  column-gap: 300px;
  margin: 0;

  position: relative;
}



#footer h3 {

  padding: 20px 0;
  color: #eaff73;
  font-size: 1vw;
}

.copyright-text {
  position: absolute;
  top: 90%;
  text-transform: uppercase;
  font-family: Hatton;
}

@media only screen and (max-width: 1450px) {
  #profile {
    height: 60vh;
  }

  .contact-header {
    column-gap: 14%;
  }
  .contactimg img{
    left: -35%;
  }
}

@media only screen and (max-width: 1355px) {
  .about-pagetxt2 img {
    height: 32vw;
  }

  .language-pairs-1,
  .language-pairs-2 {
    flex-direction: column;
  }

  .contact-header {
    column-gap: 14%;
  }
  .contactimg img{
    left: -40%;
    height: 30vw;
  }

}

@media only screen and (max-width: 1232px) {
  #contact video {
    height: 350px;
  }

  .collaborate-button h3 {
    transform: translateX(15%);
  }
}

@media only screen and (max-width: 1027px) {

  #Intro {
    left: 180%;

  }

  .name-footer {
    position: absolute;


  }

  .designation-footer {
    left: 50%;
  }

  .about-pagetxt1 p {
    line-height: 35px;
  }

  #Name-text img {
    height: 69px;
    top: 25%;
  }

  .collaborate-button {
    width: 150px;
  }

  .collaborate-button h3 {
    transform: translate(15%);
  }

  .language-1 img,
  .language-2 img,
  .language-3 img,
  .language-4 img {
    height: 80vw;
    align-items: center;
  }

  #language-text {
    padding: 20px 60px;

  }

  #contact video {
    height: 300px;
  }

  /* #profile{
      height: 48vh;
    } */
  .brief-intro {
    height: 5vh;
  }

  #about-page {
    padding: 20px 40px;
  }
}

@media only screen and (max-width:922px) {
  #contact {
    padding: 60px 50px;
  }
  .nav-links{
    left: 80%;
  }
  #Intro{
    left:100%;
  }
  #Intro p{
    font-size: 2vw;
  }
  .bg{
    height: 80vh;
  }
}

@media only screen and (max-width:864px) {
  #contact video {
    height: 260px;
  }
}

@media only screen and (max-width: 788px) {
  .nav-links {
    left: 75%;
  }

  #Intro {
    left: 105%;
    top: 182%;
    font-size: 2vw;
  }
  #Intro p{
    font-size: 3vw;
  }

  #designation {
    font-size: 7vw;
  }


  #Name-text {
    top: 170%;
    left: 67%;
    font-size: 4vw;
  }

  #Name-text img {

    top: 25%;
  }

  .nav-links {
    font-size: 3vw;
  }
  #experience {
    padding: 90px 42px;
  }
  .contact-title h3{
    font-size:10vw;
  }
  .contactimg img{
    opacity: 1;
  }
  .experience-title{
    font-size:10vw;
  }
  .experience-main{
    padding:0px;
  }
  #experience-box h3 {
    font-size: 4vw;
  }

  .about-pagetxt3 {
    row-gap: 0;
  }

  .collaborate-button {
    width: 111px;

  }

  .collaborate-button h3 {
    transform: translate(0%);
  }

  .about-pagetxt2 h4 {
    top: 20%
  }

  .footer {
    padding: 0px;
  }
}


@media only screen and (max-width: 652px) {
  .nav-links {
    left: 70%;
  }
  #Intro{
    left:62%;
  }
  .about-pagetxt1 p{
    line-height: 26px;
    font-size: 4vw;
  }
  .expertise-title{
    font-size: 11vw;
  }
  .about-title h3{
    font-size: 11vw;
  }
  #language-text{
  width: 90%;
  row-gap: 0px;
  
}
.collaborate-button{
  width:333px;
}
#language-text p{
  font-size: 3vw;
}
  .contact-form{
    flex-direction: row;
  }
  .form-group-1{
    flex-direction:column;
  }
  .menu-bar-entry i {
    font-size: 6vw;
  }
  form{
    position: absolute;
    top:45%;
    width: 75%;
  }

  .contactimg img{
    height: 54vw;
      position: absolute;
      left: -72%;
      
  }
  #contact {
    height: 190vh;

  }

  .contact-header {
    flex-direction: column;
  }

  #contact h5 {
    font-size: 5vw;
  }

  #contact p {
    font-size: 3vw;
  }


  .form-group label {
    font-size: 3vw;
  }

  .form-group input,
  .form-group textarea {
    font-size: 6vw;
    width: 230%;
    padding: 10px 15px;
  }
  .form-group-1{
    display: flex;
     column-gap:50px;
  }

  .form-group input:focus+label,
  .form-group input:valid+label,
  .form-group textarea:focus+label,
  .form-group textarea:valid+label {

    font-size: 3vw;

  }

  #submit-btn {
    font-size: 3vw;
  }

 
.contact-socials{
  position: absolute;
  top:90%;
  left: 30%;
  font-size: vw;

}
.contact-socials-title{
  font-size: 6vw;
}


  #footer {
    column-gap: 0px;
    margin: 0;
    padding: 30px;
    display: flex;
    font-size: 2vw;
  }

  .follow-nav p{
    font-size: 4vw;
  }
  #expertise{
    padding:0 30px;
  }
  .language-pairs-1, .language-pairs-2{
    padding: 0;
  }
 

  .copyright-text {
    top: 100%
  }

  
}

@media only screen and (max-width: 484px) {
  .nav-links {
    display: none;
  }

  .menu-bar {
    display: block;
  }
  


  .menu-bar-entry {
    height: 30px;
    width: 30px;
    text-align: center;
    align-content: center;
    padding: 5px;
    border-radius: 60%;
    position: absolute;
    top: 5%;
    left: 83%;
    background-color: #0000003f;
  }

  .menu-title p {
    font-size: 4vw;
    padding-top: 70px;
    text-align: left;
    margin-left: 10%;
    width: 80%;
    padding-bottom: 20px;
    border-bottom: 1px solid white;

  }

  #full h4 {
    text-align: left;
    margin-left: 10%;

  }

  #full {
    position: fixed;
    font-size: 8vw;
    right: -150%;
    height: 100%;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    background-color: #16171A;
    display: none;
  }

 

  #contact a {
    font-size: 5vw;
    display: none;
  }

  #full i {
    position: absolute;
    top: 5%;
    right: 10%;
  }

  nav {
    height: 40px;
  }

  .slogan {
    font-size: 4vw;
    position: absolute;
    top: 10%;
    left: 5%;
  }

  .logo {
    font-size: 7vw;
    position: absolute;
    top: 5%;
  }

  #designation {
    font-size: 11.5vw;
  }
  #designation .image-2{
    height: 50px;
  }
 
  .text-main-1 p{
    font-size: 6vw;
  }

  #Intro {
    left: 35%;
    top: 223%;
    font-size: 4.5vw;
  }
  #Intro i{
    font-size: 21vw;
  }

  .text-main-1 {
    width: fit-content;
    font-size: 3vw;
  }

  .about-pagetxt1 p {
    font-family: trap;
   
    font-size: 5vw;
    line-height: 25px;
    width: 100%;
  }

  .about-pagetxt1 h4 {
    font-family: trap;
    font-size: 3vw;
  }

  .collaborate-button {
    width: 237px;
  }

  .collaborate-button i {
    font-size: 3vw;
  }

  .collaborate-button p{
    font-size: 4vw;
  }
  .collaborate-button i{
    font-size: 2vw;
  }
  .expertise-title,
  .experience-title {
    font-size: 9vw;
  }

  #language-text {
    width: 90%;
  }

  #language-text p {
    font-size: 3vw;
    width: 100%;
  }

  #language-text h4 {
    font-size: 3vw;
  }

  .title-header {
    display: none;
  }

  #experience {
    padding: 30px;

  }

  .experience-main {
    padding: 30px 20px;
    text-align: left;

  }

  #experience-box {
    height: 100px;
    flex-direction: column;
    row-gap: 10px;
    justify-content: start;
    align-items: start;
  }

  #experience-box:hover {

    height: 150px;
  }

  #experience-box h3 {
    font-size: 6vw;
  }

  #experience-box span {
    font-size: 4vw;
  }

  #experience-box p {
    font-size: 3vw;
    width: 100%;
    font-weight: 100;

  }
  .contactimg img{
    left: -73%;
  }

  #experience-box:hover i {
    rotate: none;
    transform: rotate(90deg);
    -webkit-text-stroke: 0.5px white;

  }

  #contact {
    padding: 30px;
  }
  
  form{
    top: 35%;
  }
 



  

}

@media only screen and (max-width: 338px) {
  
  #about-page{
    padding: 20px;
  }
  #contact p {
    font-size: 5vw;
  }
  form{
    position: absolute;
    top: 35%;
    width: 75%;
  }
  #Intro {
    left: 40%;
    font-size: 6vw;
  }
  #designation .image-2 img{
   
    object-fit: cover;
  
  }
  #designation .image-2{
    height: 50%;
    width: 20%;
    object-fit: cover;
    position: absolute;
    top: 3%;
    left: 62%;
  }
  .form-group label{
    font-size: 5vw;
   
  }
  .form-group input, .form-group textarea{
    font-size: 4vw;
    padding: 15px;
  }
  .contactimg img{
    height: 57vw;
    left:-78%
  }
 
  #contact{
    height: 150vh;
  }

  iframe{
    width: 200%;
  }
 

  #language-text {
    padding: 10px;
  }

  #contact {
    padding: 25px;
  }

  #contact video {
    height: 190px;
    top: 100px;
  }



  .contact-socials {
   top: 95%;
   display: flex;
  
  }
  .contact-socials-title{
    width: fit-content;
  }
  .experience-main{
    padding: 20px 0px;
  }

}


.skill-img:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

@media only screen and (max-width: 320px){

}